@forward '../../abstracts/variables';
@forward '../../abstracts/mixin';
@forward '../../abstracts/functions';

.breadcrumb{
  display: flex;
  align-items: center;
  gap: 0 .4rem;
  li{
    &:first-child{
      a{
        padding-left: 20px;
        background: url('/images/portal/breadcrumb-home-icon.svg') no-repeat left center;
      }
    }
    +li{
      padding-left: 20px;
      background: url('/images/portal/breadcrumb-arrow-icon.svg') no-repeat left center;
    }
    a{
      color: #33363D;
      font-size: 15px;
      text-decoration: underline;
    }
    span{
      color: #33363D;
      font-size: 15px;
      text-decoration: underline;
    }
  }
}