
@forward '../../abstracts/variables';
@forward '../../abstracts/mixin';
@forward '../../abstracts/functions';


.related-sites{
  border: 1px solid #E4E4E4;
  border-left: 0;
  border-right: 0;
  .container{
    display: flex;
    border-left: 1px solid #E4E4E4;
  }
  .related-sites-button{
    padding: 1.5rem 2.4rem;
    border-right: 1px solid #E4E4E4;
    display: flex;
    gap:0 .8rem;
    align-items: center;
    span{
      width: 16.6rem;
      text-align: left;
    }
  }
}

.footer{
  background-color: #F4F5F6;
}
.footer-logos{
  padding: 4rem 0;
  .mi-group{
    gap:0 4rem;
  }
}

.footer-info{
  .info-row{
    display: flex;
    align-items: center;
    gap:0 1.6rem;
    color: #000;
    margin-bottom: 1.6rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .info-label{
    font-weight: var(--font-weight-bold);
  }
  .divider{
    width: 1px;
    height: 1.2rem;
    background: #6D7882;
  }
}

.footer-last{
  position: relative;
  border-top: 1px solid #E4E4E4;
  margin-top: 2.4rem;
  padding: 1.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links{
  display: flex;
  align-items: center;
  gap:0 2.4rem;
  a{
    color: #000;
    //font-weight: var(--font-weight-bold);
    &.link-green{
      color: var(--color-brand-primary);
      font-weight: var(--font-weight-bold);
    }
  }
  .divider{
    width: 1px;
    height: 1.2rem;
    background: #6D7882;
  }
}

.footer-copyright{
  p{
    color: #000;
    font-size: var(--font-size-sm);
  }
}

.floating-buttons {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
    
  .button {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    .icon{
      width: 100%;
      height: 100%;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &.button-chatbot{
      .icon{
        background-image: url('/images/portal/chatbot.svg');
      }
    }
    &.button-top{
      .icon{
        background-image: url('/images/portal/top.svg');
      }
    }
  }
}

