@forward '../../abstracts/variables';
@forward '../../abstracts/mixin';
@forward '../../abstracts/functions';

$grid-width: 1410px;

.home{
  background: url('/images/portal/home/top-bg.png') no-repeat center 0;
}

.hero-visual{
  height: 900px;
  padding-top: 80px;
}

.hero-container{
  width: 1110px;
  margin: 0 auto;
}

.hero-search-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding-top:50px;
  .hero-search-box{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 100px;
    border: 2px solid #8345b2;
    padding-right: 10px;
    padding-left: 40px;
    .label{
      font-size: 20px;
      font-weight: 700;
      width: 220px;
      
      color: #6848aa;
      font-size: 25px;
    }
    .search-input{
      height: 80px;
      flex: 1;
      font-size: 19px;
      color: #1d1d1d;
    }
    .hero-search-button{
      background: url('/images/portal/home/search.png') no-repeat center center;
      width: 58px;
      height: 58px;
      font-size: 0;
    }
  }
  .hero-search-tags{
    display: flex;
    align-items: center;
    gap: 10px;
    .tag{
      font-size: 15px;
      font-weight: 500;
      background-color: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      border-radius: 100px;
      padding: 7px 10px;
      line-height: 1;
    }
  }
}
.hero-cards-wrapper{
  position: relative;
  .btn-prev,
  .btn-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  .btn-prev{
    left: -60px;
    background: #fff url('/images/portal/home/prev.png') no-repeat center center;
  }
  .btn-next{
    right: -60px;
    background: #fff url('/images/portal/home/next.png') no-repeat center center;
  }
}
.carousel {
  position:relative;
  width: 420px;
  height: 513px;
  margin: 0 auto;
  perspective-origin: center;
  transform-style: preserve-3d;
  perspective: 8000px;
  margin: 0 auto;
}

.carousel-card {
  position:absolute;
  width:100%;
  height:100%;
  font-size: 0;
  transition:transform 0.8s ease, opacity 0.8s ease;
  transform-style:preserve-3d;
}



.hero-dashboard{
  padding: 80px;
}
.hero-dashboard-container{
  margin: 0 auto;
  width: $grid-width;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}
.hero-dashboard-card{
  border: 1px solid #e5e6e9;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  .hgroup{
    padding-bottom: 25px;
    .hgroup-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3{
        font-size: 25px;
        font-weight: 700;
        line-height: 1;
      }
      .link-more{
        color: #888888;
        background: url('/images/portal/home/icon-more.png') no-repeat right center;
        padding-right: 20px;
      }
    }
    .period{  
      font-size: 15px;
      color: #555;
      line-height: 1;
      margin-top: 15px;
    }
  }
  .tab-buttons{
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
    .tab-btn{
      padding: 12px 14px;
      border-radius: 100px;
      background-color: #f3f3f3;
      &.current{
        color: #fff;
        background: linear-gradient(180deg, #7d6bd2 0%, #4e7dd9 100%);
      }
    }
  }
}

.table-placeholder{
  border-top: 1px solid #e3e5e8;
  table{
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    td{
      border-bottom: 1px solid #e3e5e8;
      padding: 7px 15px;
      text-align: center;
    }
    .num{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: top;
      background-color: #f4f5f6;
      color: #6719a6;
      font-size: 15px;
      font-weight: 900;
      font-family: var(--font-family-secondary);
      width: 32px;
      height: 32px;
    }
    .rate{
      position: relative;
      padding-left: 24px;
      display: inline-block;
      vertical-align: top;
      line-height: 24px;
      height: 24px;
      &.up{
        background: url('/images/portal/up.svg') no-repeat left center;
      }
      &.down{
        background: url('/images/portal/down.svg') no-repeat left center;
      }
      &.same{
        background: url('/images/portal/same.svg') no-repeat left center;
      }
    }
  }
}

.hero-dashboard-filters{
  display: flex;
  align-items: center;
  gap: 10px;
  select,
  button{
    height: 40px;
  }
  button{
    width: 40px;
    background: #30364d url('/images/portal/home/icon-search.png') no-repeat center center;
    border-radius: 50%;
    font-size: 0;
    flex-shrink: 0;
  }
  select{
    border: 1px solid #e3e5e8;
    border-radius: 50px;
    width: 141px;
    padding: 0 20px;
    background-color: #fafafa;
    background-image: url('/images/portal/home/icon-select.png');
    background-repeat: no-repeat;
    background-position: right 13px center;
    appearance: none;
  }
}

.channel-comparison {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  &__item {
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 10px;
    padding: 10px 20px;
    &.v1{
      background-color: #fff6f5;
      .channel-comparison__label{
        background-color: #fc8270;
      }
    }
    &.v2{
      background-color: #f4fbf5;
      .channel-comparison__label{
        background-color: #66bc6d;
      }
    }
    &.v3{
      background-color: #f4f8fd;
      .channel-comparison__label{
        background-color: #68a1e6;
      }
    }
  }

  &__label {
    line-height: 1.1;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    flex-shrink: 0;
    font-weight: 700;
  }

  &__data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px 20px;
    flex: 1;
  }

  &__metric {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }

  .text {
    font-size: 15px;
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 4px;
    &::before{
      content: '';
      display: inline-block;
      width: 3px;
      height: 3px;
      background-color: #9e9d9d;
      border-radius: 50%;
    }
  }

  .value {
    font-size: 15px;
    font-weight: 700;
  }
}

.hero-trade{
  padding-bottom: 80px;
}
.trade-container{
  width: $grid-width;
  margin: 0 auto;
  padding: 50px 40px;
  background-color: #eff0f2;
  border: 1px solid #e3e5e8;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  .section-title{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
  }
  .section-subtitle{
    text-align: center;
    font-size: 19px;
    color: #999999;
    line-height: 1;
    padding: 20px 0 40px;
  }
}
.trade-filters{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  select{
    border: 1px solid #e3e5e8;
    border-radius: 50px;
    padding: 0 45px 0 20px;
    height: 50px;
    background-color: #fafafa;
    background-image: url('/images/portal/home/icon-select.png');
    background-repeat: no-repeat;
    background-position: right 13px center;
    appearance: none;
  }
}

.hero-trade-display{
  display: flex;
  
  gap: 20px;
  margin-top: 4rem;
  .hero-trade-table,
  .hero-trade-map{
    width: 50%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  .hero-trade-table{
    padding:25px 20px;
    .hero-trade-tabs{
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .hero-trade-tab{
        padding: 10px 30px;
        border-radius: 100px;
        background-color: #f3f3f3;
        &.active{
          color: #fff;
          background: linear-gradient(180deg, #7d6bd2 0%, #4e7dd9 100%);
        }
      }
    }
    table{
      width: 100%;
      table-layout: fixed;
      border-spacing: 0;
      border-collapse: collapse;
      overflow: hidden;
      border-radius: 10px 10px 0 0;
    }
    thead{
      
      background-color: #f1eff7;
      tr{
        th{
          padding: 12px 0;
        }
      }
    }
    tbody{
      tr{
        td{
          border-bottom: 1px solid #e3e5e8;
          text-align: center;
          padding: 10px 0;
        }
      }
    }
  }
  .hero-trade-period{
    text-align: right;
    color: #555555;
    font-size: 15px;
  }
  .table-detail{
    text-align: right;
    padding-top: 25px;
    a{
      display: inline-block;
      color: #6848aa;
      padding-right: 20px;
      background: url('/images/portal/home/icon-more2.png') no-repeat right center;
    }
  }
}

.mix-background{
  //background: linear-gradient(180deg, #eaf2fa 0%, #f3edf2 100%);
  position: relative;
  background: url('/images/portal/home/bg.png') no-repeat center 0;
  height: 1513px;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #eaf1fa 0%, #f2edf1 100%);
    z-index: -1;
  }
}

.hero-regulations{
  padding: 120px 0;
}
.regulations-container{
  width: $grid-width;
  margin: 0 auto;
  .section-title{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
  }
  .section-subtitle{
    text-align: center;
    font-size: 19px;
    color: #999999;
    line-height: 1;
    padding: 20px 0 40px;
  }
  
}
.regulation-tabs{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .reg-tab{
    padding: 10px 55px;
    border-radius: 100px;
    background-color: #ffffff;
    border: 1px solid #7b6dd2;
  }
  .reg-tab.active{
    color: #fff;
    background: linear-gradient(180deg, #7d6bd2 0%, #4e7dd9 100%);
  }
}

.regulation-grid{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  margin-top: 30px;
  .regulation-card{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
    padding: 30px;
  }
  .regulation-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    .badge{
      flex-shrink: 0;
    }
  }
  .regulation-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    padding: 10px 0 17px;
    border-bottom: 1px solid #e3e5e8;
    a{
      color: #131416;
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .regulation-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    .regulation-info-item{
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .label{
        line-height: 1;
        color: #1d1d1d;
      }
      .value{
        line-height: 1;
        color: #666666;
        text-align: right;
      }
    }
  }
}
.regulation-more{
  text-align: center;
  padding-top: 80px;
  .more-btn{
    font-size: 19px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 40px;
    line-height: 1;
    background-color: #464b60;
    border-radius: 100px;
    .text{
      display: inline-block;
    }
    .icon-arrow-down{
      display: inline-block;
      width: 14px;
      height: 9px;
      background: url('/images/portal/home/icon-more-arrow.png') no-repeat center center;
    }
  }
}

.hero-support{
  padding-top:30px;
}

.support-container{
  width: $grid-width;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  display: flex;
  
}
.support-content,
.notice-content{
  width: 50%;
}

.support-content{
  .section-title{
    font-size: 36px;
    font-weight: 700;
    padding-top: 45px;
  }
  .support-grid{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 55px;
    .support-card{
      
    }
    .support-icon{
      width: 110px;
      height: 110px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      font-weight: 700;
      line-height: 1;
      box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.14);
      &.v1{
        background-image: url('/images/portal/home/icon-support1.png');
      }
      &.v2{
        background-image: url('/images/portal/home/icon-support2.png');
      }
      &.v3{
        background-image: url('/images/portal/home/icon-support3.png');
      }
      &.v4{
        background-image: url('/images/portal/home/icon-support4.png');
      }
    }
    .support-label{
      padding-top: 20px;
      text-align: center;
      font-size: 17px;
      font-weight: 700;
      line-height: 1;
      color: #30364d;
    }
  }
}

.notice-content{
  padding-left: 80px;
  .notice-title{
    padding-top: 105px;
    height: 153px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
  }
  .notice-list{
    margin-top: 35px;
    .notice-item{
      padding: 20px;
      border-bottom: 1px solid #e3e5e8;
      line-height: 1;
      a{
        color: #30364d;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
      }
      .notice-text{
        font-size: 17px;
        font-weight: 700;
        line-height: 1;
        color: #30364d;
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
      }
      .notice-date{
        color: #999999;
        font-size: 15px;
        line-height: 1;
      }
    }
  }
}