
@forward '../../abstracts/variables';
@forward '../../abstracts/mixin';
@forward '../../abstracts/functions';

.layout-sub{
  background: url('/images/portal/subtop-bg-new.png') no-repeat center 0;
  &.search{
    background-image: url('/images/portal/subtop-bg.svg');
  }
}

.subtop{
  height: 12rem;
  display: flex;
  align-items: center;
  .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.document-utils{
  display: flex;
  align-items: center;
  gap: 32px;
  button{
    display: flex;
    height: 32px;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    color: #33363D;
    .icon{
      background-color: #58616A;
      transition: background-color 0.3s ease;
    }
    &:hover,
    &:focus{
      text-decoration: underline;
    }
  }
  .divider{
    width: 1px;
    height: 12px;
    background: #8A949E;
  }
}

.subtop-title{
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
  color: #2F0B4B;
}

.sub-layout{
  padding: 6.4rem 0;
  width: var(--container-width);
  margin: 0 auto;
}

.subtop-utils{
  position: absolute;
  right: 0;
  bottom: 5rem;
  display: flex;
  align-items: center;
  gap: 0 1.6rem;
  button{
    display: flex;
    width: 40px;
    height: 40px; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FE195F;
    border-radius: 50%;
  }
}