@forward "../../abstracts/variables";
@forward "../../abstracts/mixin";
@forward "../../abstracts/functions";
@forward "../../abstracts/utilities";

.search-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  &.is-active {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('/images/portal/search-modal-overlay.svg') center no-repeat;
  }
  
  &__container {
      position: relative;
      z-index: 10000;
  }
  
  &__header {
      text-align: center;
      margin-bottom: 30px;
  }
  
  &__title {
      font-size: 2rem;
      font-weight: 700;
      margin: 0;
      font-family: var(--font-family-secondary);
      font-size: 52px;
      font-weight: 700;
      color: #fff;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        display: inline-block;
        margin-left: 10px;
        font-size: 0;
        width: 60px;height: 60px;
        background: url('/images/portal/icon-search-title.svg') center no-repeat;
      }
  }
  &__search-bar {
    .search-input-section .search-input-wrapper input{
      width: 540px;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }
  }
  &__content {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 30px;
  }
  
  &__section {
    padding: 32px;
    border-radius: 12px;
    background: #E0C5F6;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.20);
    margin-top: 24px;
  }
  
  &__section-title {
    color: #6719A6;
    font-family: var(--font-family-secondary);
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
  }
  
  &__list,
  &__ranking-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap:  8px;
  }
  
  &__list-item,
  .ranking-list .ranking-item {
    display: flex;
    height: 32px;
    padding: 0 12px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--g-00, #FFF);
  }

  &__list-item{
    button{
      display: flex;
      align-items: center;
      gap: 0 4px;
      color: #131416;
      font-size: 15px;
    }
    .hash{
      color: #C999F0;
    }

  }
  
  .ranking-list .ranking-item {
      .num{
        background-color: #F4F5F6;
        color: #131416;
        font-family: var(--font-family-secondary);
        font-size: 15px;
        font-weight: 900;
      }
      .word{
        color: var(--color-primary);
      }
  }
  
  &__close-btn {
      display: block;
      margin: 10vh auto 0;
      font-size: 1.5rem;
      transition: transform 0.2s;
      width: 56px;
      height: 56px;
      gap: 10px;
      border-radius: 100px;
      border: 1px solid rgba(255, 255, 255, 0.30);
      background: rgba(255, 255, 255, 0.10) url('/images/portal/search-modal-close.svg') center no-repeat;
      &:hover {
          transform: rotate(90deg);
      }
  }
}
// ========================================
// 검색 입력 영역
// ========================================
.search-section {
  position: relative;
  z-index: 2;
  &:has(.is-active) {
    .search-input-section {
      border-radius: 28px 28px 0 0;
      background: #fff;
      .search-input-wrapper {
        border-radius: 28px 28px 0 0;
      }
    }
  }
}
.search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    .ranking{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
.search-research {
  color: #fff;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
.search-input-section {
  position: relative;
  background: white;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(to right, #6719A6, #FC0050 );
  
  .search-input-wrapper {
    background-color: #fff;
    border-radius: 48px;
    padding: 3px;
    display: flex;
    align-items: center;
    padding-right: 16px;
    gap: 8px;
    input {
      padding-left: 32px;
      width: 350px;
      height: 50px;
      outline: none;
      @media screen and (max-width: 1024px) {
        width: 100%;
        font-size: 1.5rem;
        padding-left: 1.5rem;
      }
    }
  }
}

.search-dropdown {
  display: none;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 8px 32px 16px 32px;
  border-radius: 0 0 28px 28px;
  border: 1px solid var(--g-10, #e6e8ea);
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  &.is-active {
    display: block;
  }
}
// ========================================
// 자동완성 제안 목록
// ========================================
.search-suggestions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0 16px 0;
  .suggestion-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0 4px;
    &:hover {
      text-decoration: underline;
    }
    .suggestion-text {
      font-size: 1.5rem;
      color: #333;
    }
    .highlight {
      font-weight: 700;
    }
  }
}

// ========================================
// 자동완성 설정
// ========================================
.search-settings {
  padding: 8px 32px;
  margin: 0 -32px;
  border-top: 1px solid #e6e8ea;
  .setting-item {
    display: flex;
    align-items: center;
    gap: 0 8px;
    justify-content: space-between;
    .setting-label {
      color: #000;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 0 8px;
    }

    .switch {
      margin-left: 0;
    }
    .close-btn {
      font-size: 1.5rem;
      color: #33363d;
    }
  }
}

// ========================================
// 검색 기록
// ========================================
.search-history {
  padding: 8px 32px 0;
  margin: 0 -32px;
  border-top: 1px solid #e6e8ea;
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  .setting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
  }
  .clear-btn {
    color: #6d7882;
    font-size: 1.5rem;
    text-decoration: underline;
  }
  .setting-label {
    color: #000;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0 8px;
  }

  .history-item {
    display: flex;
    align-items: center;
    gap: 0 4px;
    .history-text {
      font-size: 1.4rem;
      color: #333;
      flex: 1;
    }

    .delete-btn {
    }
  }
}

.search-detail-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  height: 56px;
  padding: 0 24px;
  border-radius: 100px;
  border: 1px solid rgba(19, 20, 22, 0.2);
  background: var(--color-brand-primary);
  border: 1px solid rgba(19, 20, 22, 0.20);
  .text {
    color: #fff;
    font-size: 1.7rem;
  }
}

.ranking-list {
  .ranking-item {
    button{
      display: flex;
      align-items: center;
    }
    .num {
      display: flex;
      width: 24px;
      height: 24px;
      padding: 2px 4px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      font-weight: 900;
      color: #fff;
      font-size: 1.5rem;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.3);
    }
    .word {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      vertical-align: top;
      line-height: 24px;
      &::before {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        width: 2.4rem;
        height: 2.4rem;
        font-size: 0;
      }
      &.up {
        &::before {
          content: "상승";
          background-image: url("/images/portal/up.svg");
        }
      }
      &.down {
        &::before {
          content: "하락";
          background-image: url("/images/portal/down.svg");
        }
      }
      &.same {
        &::before {
          content: "동일";
          background-image: url("/images/portal/same.svg");
        }
      }
    }
  }
}

.search{
  .search-info .search-info-inner{
    color: #fff;
  }
  .filter-select,
  .filter-group{color: #fff;}
  .sort-label,
  .sort-buttons .sort-btn{color: #fff;}
  .sort-buttons .sort-btn.active{color: #000;}
  .filter-select{
    background-image: url('/images/portal/ui-select-arrow.svg');
  }
  .subtop-title{color: #fff;}
  .breadcrumb li+li{background-image: url('/images/portal/breadcrumb-arrow-right-white.svg');}
  .breadcrumb li a{color: #fff;}
  .breadcrumb li span{color: #fff;}
  .breadcrumb li:first-child a{background-image: url('/images/portal/breadcrumb-home-icon-white.svg');}
}

.search-category {
  margin-top: 32px;
}
.tabSwiper {
  border-radius: 32px 12px;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 1024px) {
    background-color: rgba(217, 217, 217, 1);
    padding: 0 3rem; 
  }
  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      color: #333;
      font-size: 1.5rem;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-slide {
    background-color: rgba(217, 217, 217, 1);
    //width: 20%;
    @media screen and (max-width: 1024px) {
      width: auto;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 68px;
      width: 100%;
      font-size: 19px;
      white-space: nowrap;
      &[aria-pressed="true"] {
        border-radius: 12px;
        background-color: var(--color-brand-primary);
        color: #fff;
        font-weight: 700;
      }
      @media screen and (max-width: 1024px) {
        padding: 0 1.5rem;
        font-size: 1.5rem;
        height: 4.8rem;
      }
    }
  }
}

.search-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    gap: 16px 0;
  }
  .search-info-inner {
    color: #131416;
    font-size: 1.9rem;
    span {
      font-weight: 700;
      font-size: 25px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 1.3rem;
      span{
        font-size: 1.7rem;
      }
    }
  }
}

.accordion-container {
  border-radius: 20px;
  border: 1px solid #6719A6;
  
  background: linear-gradient(90deg, rgba(103, 25, 166, 0.05) 0%, rgba(153, 0, 47, 0.05) 100%), #FFF;
  border-radius: 16px;
  padding: 33px 52px;
  @media screen and (max-width: 1024px) {
    padding: 16px 2rem;
  }
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .accordion-title {
    background: var(--24-24_gr, linear-gradient(90deg, #6719A6 0%, #FF004E 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-family-secondary);
    font-size: 25px;
    font-weight: 900;
    @media screen and (max-width: 1024px) {
      font-size: 1.7rem;
    }
  }

  .accordion-icon {
    transition: transform 0.3s ease;
  }

  .accordion-icon.open {
    transform: rotate(180deg);
  }

  .accordion-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  .accordion-content.open {
    max-height: 1000px;
    margin-top: 16px;
  }
}

.search-result-list {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  gap: 32px;
  .section {
    border-radius: 12px;
    border: 1px solid #e6e8ea;
    background: #fff;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 52px;
    @media screen and (max-width: 1024px) {
      padding: 16px 2rem;
    }
  }

  .section-title {
    font-size: 32px;
    line-height: 1;
  }

  .section-count {
    color: #58616a;
    font-size: 19px;
  }

  .section-count .number {
    color: #FF004E;
    font-size: 25px;
    font-weight: 700;
  }
}

.card-grid {
  padding: 0 52px 32px 52px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0 2rem 16px 2rem;
  }
  &.full-width {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.card {
  background: #fff;
  border: 1px solid #cdd1d5;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
  &:has(.card-thumbnail) {
    flex-direction: row;
    gap: 24px;
    .card-inner {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  .card-thumbnail {
    width: 200px;
    height: 150px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 8px;
  }
  .card-title {
    color: var(--g-95, #131416);
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
    a {
      @extend %ellipsis;
    }
  }

  .card-subtitle {
    line-height: 1;
  }
  .card-subtext {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
    padding-top: 12px;
    .item {
      display: flex;
      align-items: center;
      gap: 4px;
      b {
        font-weight: 400;
        color: var(--color-tertiary);
        font-size: 1.5rem;
      }
      em {
        color: var(--color-secondary);
        font-style: normal;
      }
    }
  }

  .card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 16px;
    border-top: 1px solid #e6e8ea;
  }
}

.more-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid #e6e8ea;
  &-text {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 19px;
    transition: all 0.3s ease;
    i {
      transition: all 0.3s ease;
      transform: translateX(0);
    }
  }
  &:hover,
  &:focus {
    text-decoration: underline;
    .icon-arrow-right {
      transform: translateX(4px);
    }
  }
}

.search-detail-filter {
  width: 812px;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.filter-content {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  .divider {
    background-color: #e6e8ea;
    height: 1px;
  }
  .filter-row {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px 0;
    }
    .filter-title {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      width: 160px;
      padding: 7px 0;
      flex-shrink: 0;
      font-weight: 600;
      background: #f4f5f6;
      border-radius: 8px;
      font-size: 1.7rem;
      @media screen and (max-width: 1200px) {
        width: 100%;
        text-align: center;
        padding: 7px 0;
        font-size: 1.4rem;
      }
    }
    .filter-column {
      position: relative;
      padding-left: 32px;
      display: flex;
      flex: 1;
      &::before {
        content: "";
        position: absolute;
        left: 16px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #e6e8ea;
        z-index: 1;
      }
      @media screen and (max-width: 1200px) {
        padding-left: 0;
        width: 100%;
        &::before {
          display: none;
        }
      }
    }
  }
}

.filter-footer {
  padding-top: 40px;
  border-top: 1px solid #e6e8ea;
}

.form-checkbox-group {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  flex: 1;
  gap: 8px 0;
  &.length-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    &.length-5{
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
